@* @model Parking.Models.VehicleViewModel

<div class="min-vh-100 container flex items-center justify-center">
    <form asp-action="Create" method="post" class="my-12 px-10 py-10 bg-white gap-6 mx-6 flex w-full flex-col items-center rounded-3xl shadow-2xl sm:px-16 sm:mx-0 sm:w-4/5 lg:w-1/2">
        <h1 class="text-center text-2xl font-semibold">Создание автомобиля</h1>

        <div class="form__wrapper">
            <label asp-for="LicensePlate" class="form__label" for="licensePlate">Госномер</label>
            <input asp-for="LicensePlate" type="text" class="form__input" id="licensePlate" placeholder="A123BC 77" />
            <span asp-validation-for="LicensePlate" class="form__error"></span>
        </div>

        <div class="form__wrapper">
            <label asp-for="Year" class="form__label" for="year">Год выпуска</label>
            <input asp-for="Year" type="number" class="form__input" id="year" placeholder="2022" />
            <span asp-validation-for="Year" class="form__error"></span>
        </div>

        <div class="form__wrapper">
            <label asp-for="Brand" class="form__label" for="brand">Марка</label>
            <input asp-for="Brand" type="text" class="form__input" id="brand" placeholder="Toyota" />
            <span asp-validation-for="Brand" class="form__error"></span>
        </div>

        <div class="form__wrapper">
            <label asp-for="Model" class="form__label" for="model">Модель</label>
            <input asp-for="Model" type="text" class="form__input" id="model" placeholder="Camry" />
            <span asp-validation-for="Model" class="form__error"></span>
        </div>

        <input type="hidden" asp-for="ClientId" />

        <button type="submit" class="blue__button w-full md:w-4/5">Создать автомобиль</button>

        <p class="text-center"><a class="blue__link font-semibold" asp-area="" asp-controller="Vehicle" asp-action="Index">Назад к автомобилям</a></p>
    </form>
</div>
 *@

@model VehicleViewModel

<h2>Добавить новый автомобиль</h2>

<h4>Автомобиль</h4>
<hr />
<form asp-action="Create">
    <input type="hidden" asp-for="ClientId" value="1" />
    <div class="form-group">
        <label asp-for="LicensePlate" class="control-label"></label>
        <input asp-for="LicensePlate" class="form-control" />
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand" class="control-label"></label>
        <input asp-for="Brand" class="form-control" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-primary" />
    </div>
</form>
